@import "../../styles/variable.scss";
.item_images {
    .cur_image {
        position: relative;
        overflow: hidden;
        transition: $transition;
        .main_image {
            width: 100%;
            height: auto;
            transition: $transition;
        }
        .overlay {
            opacity: 0;
        }
        &:hover {
            cursor: pointer;
            .overlay {
                opacity: 1;
            }
        }
    }

    .mini_images {
        .mini_image {
            width: 100px;
            height: 100%;
            border: 4px solid transparent;
            &.active {
                border-color: $main;
            }
            &:hover {
                border-color: $main;
                cursor: pointer;
            }
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}
