@import "../../styles/variable.scss";
.item{
    border-radius: 6px;
    overflow: hidden;
    background-color: $white;
    box-shadow: $box_shadow;
    .item_image{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
    }
}