@import "../../styles/variable.scss";
.item {
    border-radius: 6px;
    overflow: hidden;
    background-color: $white;
    box-shadow: $box_shadow;
    // Loading
    .item_image_load {
        height: 150px;
    }
    .item_price_load {
        width: 40%;
    }
    .item_name_load {
        width: 60%;
    }
    .item_delete_btn_load {
        width: 40px;
        height: 40px;
        border-radius: 4px;
    }
    .item_edit_btn_load {
        width: 30%;
        height: 30px;
        border-radius: 4px;
    }
    .item_view_btn_load {
        width: 50%;
        height: 30px;
        border-radius: 4px;
    }
    // Loading
    .item_image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
    }
}
