@import "../../styles/variable.scss";
.cart_section {
    grid-template-columns: 70% 1fr;
    @media (max-width:$lg_size) {
        grid-template-columns: repeat(2,1fr);
    }
    @media (max-width:$sm_size) {
        grid-template-columns: repeat(1,1fr);
    }
}
