@import "../../styles/variable.scss";
.main_box {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../images/main.webp");
    height: calc(100vh - 80px);
    top:0;
    position: relative;
    z-index: 1;
    &.box_2 {
        background-image: url("../../images/main0.webp");
    }
    &.box_3 {
        background-image: url("../../images/main1.webp");
    }
    .main_contain {
        height: 100%;
        .head {
            font-family: $ubuntu_font !important;
        }
        .head,
        h6 {
            color: #fff;
            z-index: 2;
            position: relative;
            width: 60%;
        }
        button {
            width: -moz-fit-content;
            width: fit-content;
        }
    }
    @media (max-width:$lg_size) {
        height: calc(100vh - 70px);
    }
    @media (max-width:$md_size) {
        height: calc(100vh - 60px);
        .main_contain {
            .head,
            h6 {
                width: 80%;
            }
        }
    }
    @media (max-width:$sm_size) {
        height: calc(100vh - 50px);
        .main_contain {
            .head,
            h6 {
                width: 100%;
            }
        }
    }
}
