@import "../../styles/variable.scss";
.about {
    position: relative;
    &:before {
        content: "";
        left: 0;
        top: 0;
        height: 100%;
        width: 80%;
        background-color: $main;
        position: absolute;
    }
    .about_contain {
        grid-template-columns: repeat(2, 1fr);
        //Responsive
        .overlay{
            display:none;
        }
        .about_content {
            z-index: 10;
            .about_text {
                color: $white;
                position: relative;
                z-index: 10;
            }
        }
        .about_image {
            background-image: url("../../images/aboutOverviewImg.webp");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100%;
            width: 100%;
            position: relative;
            z-index: 10;
            box-shadow: $box_shadow;
        }
    }
    @media (max-width:$sm_size) {
        &:before {
            height: 100%;
            width: 100%;
            background-image: url("../../images/aboutOverviewImg.webp");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .about_contain {
            grid-template-columns: repeat(1, 1fr);
            justify-content: center;
            text-align: center;
            .about_button{
                border-color: $main;
                left:50%;
                transform: translateX(-50%);
                position: relative;
            }
            .about_image {
                display: none;
            }
            .overlay{
                display:flex;
            }
        }
    }
}

.about_box {
    grid-template-columns: repeat(2, 1fr);
    .about_box_image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    @media (max-width:$sm_size) {
        grid-template-columns: repeat(1, 1fr);
        .about_box_image {
            display: none;
        }
        .about_text{
            justify-content: center;
        }
    }
}
