@import "../../styles/variable.scss";
.items_contain{
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    @media (max-width:$md_size) {
        grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    }
    @media (max-width:$sm_size) {
        grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    }
    @media (max-width:$xs_size) {
        grid-template-columns: repeat(1,1fr);
    }
}