@import "../../styles/variable.scss";
.editable_category {
    border-radius: 4px;
    box-shadow: $box_shadow;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    .category_image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 150px;
    }
    .category_title {
        color: $main;
    }
}

.category {
    box-shadow: $box_shadow;
    background-color: $white;
    transition: $transition;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 195px;
    width: 195px;
    position: relative;
    &:hover {
        transform: translateY(-5px);
        cursor: pointer;
    }
    .category_title {
        color: $white;
        position: relative;
        z-index: 10;
    }
}

.loading_category {
    height: 195px;
    width: 195px;
    span {
        height: 195px;
        width: 195px;
    }
}
