@import "./../../styles/variable.scss";
.title {
    position: relative;
    color: $main;
    &.line:after {
        content: "";
        position: absolute;
        width: 60%;
        bottom: 0;
        height: 4px;
        background-color: $main;
    }
}
