@import "./../../styles/variable.scss";
.title {
    position: relative;
    color: $main;
    &.line:after {
        content: "";
        position: absolute;
        width: 60%;
        bottom: 0;
        height: 4px;
        background-color: $main;
    }
    & svg{
        font-size: 28px;
    }
    @media (max-width:$md_size) {
        & svg{
            font-size: 25px;
        }
    }
    @media (max-width:$sm_size) {
        & svg{
            font-size: 22px;
        }
    }
    @media (max-width:$xs_size) {
        & svg{
            font-size: 20px;
        }
    }
}
