$main: rgb(89, 20, 38);
$main_alt: #128c7e;
$white: #fff;
$white_alt: #ddd;
$black: #333;
$dark: #000;
$gray: #777;
$transition: all ease-in-out 0.3s;
$cairo_font: 'Cairo', sans-serif;
$ubuntu_font: 'Ubuntu', sans-serif;
$box_shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
$youtube: #ff0000;
$linkedin: #0a66c2;
$facebook: #1877f2;
$instagram: #fcaf45;
$gmail: #ea4335;
$whatsapp: #25d366;
$github: #333;
$pdf: #F40F02;
$word: #1B5EBE;
$excel: #1D6F42;
$power_point: #D35230;
$firebase: #FFCB2C;
$supabase: #3ECF8E;
$nextAuth: #1FABF5;
$yahoo: #410093;
$lg_size: 1200px;
$md_size: 992px;
$sm_size: 768px;
$xs_size: 520px;
