@import "../../styles/variable.scss";
.user_box {
    box-shadow: $box_shadow;
    .avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 4px solid $main;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: $transition;
        overflow: hidden;
        .overlay {
            opacity: 0;
        }
        &:hover {
            cursor: pointer;
            .overlay {
                opacity: 1;
            }
        }
    }
    @media (max-width:$md_size) {
        .avatar {
            width: 120px;
            height: 120px;
            border: 3px solid $main;
        }
    }
    @media (max-width:$sm_size) {
        .avatar {
            width: 100px;
            height: 100px;
        }
    }
    @media (max-width:$xs_size) {
        .avatar {
            width: 80px;
            height: 80px;
            border: 2px solid $main;
        }
    }
}
