@import "../../styles/variable.scss";

.dashboard_options {
    grid-template-columns: auto 1fr;
    .tabs {
        background-color: $main;
        width: max-content;
        box-shadow: $box_shadow;
        & button {
            color: $white;
            display: grid !important;
            align-items: center;
            justify-content: flex-start;
            grid-template-columns: auto 1fr;
            border-radius: 4px;
            gap: 20px;
            padding: 10px;
            min-height: max-content;
            & h5 {
                text-align: left;
            }
            & svg{
                font-size: 25px;
            }
        }
    }
    @media (max-width:$md_size) {
        .tabs {
            & button {
                border-radius: 3px;
                gap: 15px;
                padding: 10px 15px;
                & svg{
                    font-size: 22px;
                }
            }
        }
    }
    @media (max-width:$sm_size) {
        grid-template-columns:  repeat(1,1fr);
        .tabs {
            & > div:last-child , & > div:first-child{
                border: 2px solid $white;
                & svg{
                    color:$white;
                    font-size: 25px;
                }
            }
            width:100%;
            & button {
                border-radius: 2px;
                gap: 10px;
                padding: 5px 20px;
                & svg{
                    font-size: 20px;
                }
            }
        }
    }
}
